nav{
    background-color: antiquewhite;
}
.lapaz{
    background-color: coral;
}

.cocha{
    background-color: yellow;
}

.sta{
    background-color: chartreuse;
}
.ge{
    background-color: chartreuse;
    
}

.col{
    background-color: rgb(28, 29, 63);
    color: rgb(249, 249, 249);
}
